* {
    box-sizing: border-box;
}

body {         
    margin: 0;
    background-color: rgb(53, 53, 53);
}

h1 {
    text-align: center;
    color: white;
    font-family: Arial, Courier, monospace;
    margin: 10px;
    font-size: 3rem; 
}

section {
    display: flex;                
    justify-content: center;
    margin-top: 20px;        
}

.gif-container {
    margin-top: 30px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: start;
    height: auto;
}


#submit-form {
    padding: 10px 20px;
    background-color: rgb(95, 95, 95);
    color: white;
    border: none;
    border-radius: 5px;
}

#submit-form:hover {
    background-color: rgb(70, 70, 70);
    cursor: pointer;
}

#remove-gif {
    padding: 10px 20px;
    background-color: rgb(255, 136, 0);
    color: white;
    border: none;
    border-radius: 5px;
}

#remove-gif:hover {
    background-color: rgb(216, 115, 0);
    cursor: pointer;
}

#search-term {
    padding: 9px;
    border: none;
    border-bottom: 2px solid rgb(204, 204, 204);
    outline: none;
    border-radius: 5px;
    width: 200px;
}